# kiwi-profile: wsl

[Unit]
Description=Rancher Desktop WSL Proxy

[Service]
ExecStart=/usr/local/bin/wsl-proxy -debug

[Install]
WantedBy=rancher-desktop.target
