name: Release Artifacts
on:
  push:
    tags: [ 'v*', 'test-v*' ]
permissions:
  contents: read
jobs:
  build:
    uses: ./.github/workflows/build.yaml
  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: distro-*
        merge-multiple: true
    - name: Extract artifacts
      run: |
        for arch in amd64 arm64; do
          unzip -n distro-qcow2-${arch}.zip
          mv distro.qcow2 distro.${GITHUB_REF_NAME}.${arch}.qcow2
          sha256sum distro.${GITHUB_REF_NAME}.${arch}.qcow2 \
            > distro.${GITHUB_REF_NAME}.${arch}.qcow2.sha256
          unzip -n distro-tar.xz-${arch}.zip
          mv distro.tar.xz distro.${GITHUB_REF_NAME}.${arch}.tar.xz
          sha256sum distro.${GITHUB_REF_NAME}.${arch}.tar.xz \
            > distro.${GITHUB_REF_NAME}.${arch}.tar.xz.sha256
        done
    - name: Upload release assets
      run: gh release upload --clobber ${GITHUB_REF_NAME} distro.*.{qcow2,tar.xz}{,.sha256}
