name: Release Artifacts
on:
  push:
    tags: [ 'v*', 'test-v*' ]
permissions:
  contents: read
jobs:
  build:
    uses: ./.github/workflows/build.yaml
  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: distro-*
    - name: Extract artifacts
      run: |
        ls -lR
        set -o xtrace
        for arch in amd64 arm64; do
          mv distro-qcow2-${arch}/distro.qcow2 distro.${GITHUB_REF_NAME}.${arch}.qcow2
          rmdir distro-qcow2-${arch}/
          mv distro-tar.xz-${arch}/distro.tar.xz distro.${GITHUB_REF_NAME}.${arch}.tar.xz
          rmdir distro-tar.xz-${arch}/
        done
        for f in distro.*.{qcow2,tar.xz}; do
          sha256sum "$f" > "$f.sha256"
        done
    - name: Upload release assets
      run: gh release upload --clobber ${GITHUB_REF_NAME} distro.*.{qcow2,tar.xz}{,.sha256}
